<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>Shopping List App</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body style="font-size: xx-large;">
    <div id="shoppinglist">
        <div class="header">
            <h1 style="text-align: center ;">{{header ? header : 'Welcome'}}</h1>
            <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">Cancel</button>
            <button v-else="" @click="doEdit(true)" class="btn btn-primary">Add item</button>
        </div>
        <!-- Itt van hogy kell hasznalni az egy soros if-et  -->
        <div v-if="editing" class="add-item-form">
            <input @keyup.enter="saveItem()" v-model="newItem" type="text" placeholder="Add an item">
            <p class="counter">{{characterCount}}/200</p> <br>
            <label><input type="checkbox" v-model="newItemHighPriority">Nagyonfotos dolog</label><br>
            <button
            :disabled="newItem.length < 5"
             class="btn btn-primary"
             @click="saveItem()">
             Save item
            </button>
        </div>
        <p v-if="items.lenght === 0">Elfogyott az osszes item!</p>

        <ul style="list-style-type: none;">
            <li style="font-size: xx-large; cursor: pointer;"
                v-for="item in items"
                @click="tooglePurchase(item)"
                :key="item.id"
                
                :class="{megvettemmar: item.purchased, magasprioritas: item.highpriority}"
            > {{item.label}}</li>
            
        </ul>
        
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        let id = 0;
        
         const shoppingListApp =  Vue.createApp({
            data(){
                return{
                    header: "Shopping List App",
                    editing: false,
                    newItem : '',
                    newItemHighPriority: false,
                    fagyiIzek:[

                    ],
                    items:[
                  {id: id++, label:"10 party sapka", purchased: false, highpriority: true},
                  {id: id++, label:"2 tarsas jatek", purchased: true, highpriority: false},
                  {id: id++, label:"20 pohar", purchased: true, highpriority: false},
                  {id: id++, label:"40 lufi", purchased: false, highpriority: true}
                  ],
                }
            },
            computed:{
                characterCount(){
                    return this.newItem.length
                }
            },
            methods:{
                saveItem(){
                    this.items.push({
                        id:this.items.lenght + 1,
                        label: this.newItem,
                        highpriority: this.newItemHighPriority})
                    this.newItem = "";
                    this.newItemHighPriority = ""
                },
                doEdit(editing){
                    this.editing = editing
                    this.newItem = ""
                    this.newItemHighPriority = ""
                },
                tooglePurchase(item){
                    item.purchased = !item.purchased;
                }
            }
          })
        .mount('#shoppinglist')
    </script>
    <style>
    .megvettemmar{
        color: grey;
        text-decoration: line-through;
    }
    .magasprioritas{
        font-weight: bold;
        color: red;
    }
    .counter{
        float:right;
        font-size: small;
    }
    </style>
</body>
</html>